<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kenshin.mybatisplustest.mapper.TbLabelMapper">

    <resultMap id="BaseResultMap" type="org.kenshin.mybatisplustest.domain.TbLabel">
            <id property="id" column="Id" jdbcType="INTEGER"/>
            <result property="lableName" column="LableName" jdbcType="VARCHAR"/>
            <result property="attribute" column="Attribute" jdbcType="TINYINT"/>
            <result property="clientType" column="ClientType" jdbcType="TINYINT"/>
            <result property="userId" column="UserId" jdbcType="INTEGER"/>
            <result property="isDel" column="IsDel" jdbcType="TINYINT"/>
            <result property="createdAt" column="CreatedAt" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="UpdatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,LableName,Attribute,
        ClientType,UserId,IsDel,
        CreatedAt,UpdatedAt
    </sql>
</mapper>
