<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kenshin.mybatisplustest.mapper.ProduceplanMapper">

    <resultMap id="BaseResultMap" type="org.kenshin.mybatisplustest.domain.Produceplan">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="factoryNo" column="FactoryNo" jdbcType="VARCHAR"/>
            <result property="salePredicateId" column="SalePredicateId" jdbcType="BIGINT"/>
            <result property="customerNo" column="CustomerNo" jdbcType="VARCHAR"/>
            <result property="productModel" column="ProductModel" jdbcType="VARCHAR"/>
            <result property="materialCode" column="MaterialCode" jdbcType="VARCHAR"/>
            <result property="materialDesc" column="MaterialDesc" jdbcType="VARCHAR"/>
            <result property="num" column="Num" jdbcType="DECIMAL"/>
            <result property="length" column="Length" jdbcType="DECIMAL"/>
            <result property="width" column="Width" jdbcType="DECIMAL"/>
            <result property="thickness" column="Thickness" jdbcType="DECIMAL"/>
            <result property="weight" column="Weight" jdbcType="DECIMAL"/>
            <result property="progress" column="Progress" jdbcType="DECIMAL"/>
            <result property="planDeliveryTime" column="PlanDeliveryTime" jdbcType="TIMESTAMP"/>
            <result property="planDeliveryAddress" column="PlanDeliveryAddress" jdbcType="VARCHAR"/>
            <result property="produceBeginTime" column="ProduceBeginTime" jdbcType="TIMESTAMP"/>
            <result property="produceEndTime" column="ProduceEndTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="Status" jdbcType="SMALLINT"/>
            <result property="remark" column="Remark" jdbcType="VARCHAR"/>
            <result property="tenantId" column="TenantId" jdbcType="BIGINT"/>
            <result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
            <result property="priorityLevel" column="PriorityLevel" jdbcType="INTEGER"/>
            <result property="algorithmTaskId" column="AlgorithmTaskId" jdbcType="BIGINT"/>
            <result property="finishedNum" column="FinishedNum" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,FactoryNo,SalePredicateId,
        CustomerNo,ProductModel,MaterialCode,
        MaterialDesc,Num,Length,
        Width,Thickness,Weight,
        Progress,PlanDeliveryTime,PlanDeliveryAddress,
        ProduceBeginTime,ProduceEndTime,Status,
        Remark,TenantId,CreateTime,
        PriorityLevel,AlgorithmTaskId,FinishedNum
    </sql>
</mapper>
